/* app/static/css/job-description.css */

.professional-description {
    background-color: var(--content-bg-color);
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.5s, color 0.5s;
    font-weight: 200;
    line-height: 1.6;
    color: var(--main-text-color);
}

.professional-description h2,
.professional-description h3,
.professional-description h4,
.professional-description p,
.professional-description ul li {
    margin-bottom: 1em;
}

.professional-description h2 {
    font-size: 2rem; /* 32px */
    margin-bottom: 0.5em;
}

.professional-description h3 {
    font-size: 1.75rem; /* 28px */
    margin-bottom: 0.5em;
}

.professional-description h4 {
    font-size: 1.5rem; /* 24px */
    margin-bottom: 0.5em;
}

.professional-description p {
    font-size: 1.25rem; /* 16px */
}

.professional-description ul {
    padding-left: 1.5em;
}

.professional-description ul li {
    font-size: 1.25rem; /* 16px */
    list-style-type: disc;
    margin-bottom: 0.5em;
}

@media (max-width: 768px) {
    .professional-description {
        padding: 15px;
    }

    .professional-description h2 {
        font-size: 1.75rem; /* 28px */
    }

    .professional-description h3 {
        font-size: 1.5rem; /* 24px */
    }

    .professional-description h4 {
        font-size: 1.25rem; /* 20px */
    }

    .professional-description p,
    .professional-description ul li {
        font-size: 0.95rem; 
    }
}

@media (max-width: 480px) {
    .professional-description {
        padding: 10px;
    }

    .professional-description h2 {
        font-size: 1.5rem; /* 24px */
    }

    .professional-description h3 {
        font-size: 1.25rem; /* 20px */
    }

    .professional-description h4 {
        font-size: 1.1rem; /* 17.6px */
    }

    .professional-description p,
    .professional-description ul li {
        font-size: 1rem; /* 14.4px */
    }
}