/* app/static/css/navbar.css */

.sidebar {
  align-content: center;
  width: 30%;
  min-width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  background-color: var(--sidebar-bg-color);
  transition: background-color 0.5s, color 0.5s;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 0.5s;
}
x .sidebar-header > div {
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar-header img {
  height: 80%;
  transition: filter 0.5s, opacity 0.5s;
}

.sidebar-header h3 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--main-text-color);
  transition: color 0.5s;
}

.sidebar-header {
  font-weight: lighter;
}

.components {
  padding: 0;
}

.components .nav-item {
  margin: 10px 0;
}

.components .nav-link {
  color: var(--main-text-color);
  font-size: 1.1rem;
  padding: 10px 20px;
  display: block;
  transition: background 0.3s, color 0.3s;
}

.components .nav-link:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
  text-decoration: none;
  border-radius: 4px;
}

.content {
  margin-left: 30%;
  width: 70%;
  min-height: 100vh;
  background-color: var(--content-bg-color);
  transition: background-color 0.5s, color 0.5s;
}

.content > div {
  margin: 0 10%;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .content {
    margin-left: 0;
    width: 100%;
  }
  .navbar-header-logo,
  .components .nav-link {
    text-align: center;
  }
}

.footer {
  background-color: var(--footer-bg-color);
  transition: background-color 0.5s, color 0.5s;
}

.text-muted {
  color: var(--muted-text-color);
  transition: color 0.5s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #5a6d7c;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider .sun-icon,
.slider .moon-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #f39c12;
  transition: color 0.4s;
}

.slider .moon-icon {
  right: 10px;
  color: #f1c40f;
}

input:checked + .slider .sun-icon {
  color: #f1c40f;
}

input:checked + .slider .moon-icon {
  color: #f39c12;
}

.slider .sun-icon {
  opacity: 1;
}

.slider .moon-icon {
  opacity: 1;
}

input:checked + .slider .sun-icon {
  opacity: 1;
}

input:not(:checked) + .slider .moon-icon {
  opacity: 1;
}

.rotating-card .back-image {
  transform: rotateY(180deg);
}

.components .nav-link.active {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
  text-decoration: none;
  border-radius: 4px;
}

.sidebar-top {
  height: 90%;
  align-content: center;
}

.sidebar-bottom {
  text-align: center;
  height: 10%;
  align-content: center;
}

.blogpost-bottom {
  background-color: var(--hover-text-color);
  color: var(--hover-bg-color);
  text-decoration: none;
  border-radius: 4px;
  width: 100%;
  display: block;
  padding: 10px 0;
  box-sizing: border-box;
}

.blogpost-bottom:hover{
    background-color: var(--sidebar-bg-color);
    color: var(--hover-bg-color);
    border: 2px solid var(--hover-bg-color);
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar-header {
    flex-direction: column;
    align-items: center;
  }
  .sidebar-header h3,
  .sidebar-header h4,
  .sidebar-header p {
    font-size: 1rem;
  }
  .components {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .components .nav-item {
    margin: 5px 0;
  }
  .content {
    margin-left: 0;
    width: 100%;
  }
  .invert-button-container {
    margin-bottom: 20px;
  }
  .sidebar-bottom{
    display: none;
  }
}
