<!-- kmeans.html -->
{% extends "blogpost/base_blogpost.html" %}

{% block title %}
  Kmeans Project - JoseDavidGT
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="project-title">
    <h1 class="display-4">Kmeans</h1>
    <h3 class="lead">Data Science project</h3>
  </div>

  <div class="project-summary">
    <p>
      For this project I was asked to improve the algorithm used to qualify each
      item of the company on winner, looser or regular. From now AAA, A and B
      respectively. The company used to qualify each item manually, so each
      analyst must review item per item, evaluating the sales and rotation of
      the item in each store, also with the knowledge of each analyst on the
      colors and the best sellers to the date. That process was very time
      consuming and inefficient, so the company decided to automate it using a new algorithm.
    </p>

    <p>
      Firstable I started by analyzing all the data that analysts used to make the
      decision. I found that the data was not very clean and that there were
      many missing values, so I had to clean the data and fill in the
      missing values. When the data was clean I found that the sales of the
      item weren't enough data to know if it is a good seller in that store
      or a regular item because of the size of each store—some stores are
      very big and others are very small—so I decided to use the rotation of
      the item in each store as a metric to know if the item is a good
      seller or not. After having all the info organized I started finding out the best
      models to use. I have different choices such as:
    </p>
      <ul>
          <li>Logistic Regression</li>
          <li>Random Forest</li>
          <li>Gradient Boosting</li>
          <li>Kmeans</li>
      </ul>
    


    <div class="steps-project">

        <div class="project-image-text">
            <div>
                <img
                  src="{{ url_for('static', filename='images/blogpost/kmeans-1.png') }}"
                  alt="Kmeans"
                />
                
                <img
                    src="{{ url_for('static', filename='images/blogpost/kmeans-2.png') }}"
                    alt="Kmeans"
                />

            </div>
            <div>

              <p>
                I used a test set to compare the models between each other and also with the current 
                classification of each item to check if it was really wrong or the analyst were doing 
                a sense decitions after that I found that Kmeans was the best model to use.
              </p>

                <p>
                    Then I started to implement the model, I used the elbow method to find the best number of clusters
                    so the company was used to classify the items in 5 categories, but the elbow method showed me that
                    the best number of clusters was 3. I had to explain to the company that the best number of clusters
                    was 3 and not 5, so for terms of inventory management and sales strategy, the company had to change
                    the categories of the items.
                </p>




            </div>
        </div>

        <div class="project-image-text">
 
            <div>

                <p>
                    After that I trained the model and I used the test set to check the accuracy of the model, I found that
                    the model had a bad accuracy, so I started to analyze the data and I found that the data must be separated
                    by category because each category has its own average of sales and rotation and also I must filter the Franquises because we didn't have enough data to classify them and it blinded the model.
                </p>

            </div>
            <div>
                <img
                style="width: 100%;"
                src="{{ url_for('static', filename='images/blogpost/kmeans-3.png') }}"
                alt="Kmeans"
                />
            </div>
            
        </div>
        <p>
          The new results were very good, the model had an accuracy of 85%, so the company decided to use the model to classify the items. The company also asked me to create a dashboard to show the results of the model, so I used Power BI to create the dashboard.
        </p>
      </div>
    </div>
  </div>
{% endblock %}