<!-- app/templates/job-description.html -->

<div class="content-wrapper-professional-description section wrapper">
  <div class="professional-description container section">
    <p>
      I am a dedicated Data Engineer specializing in data analysis, backend, and
      frontend development. I have a strong background in building and organizing
      databases, combined with expertise in analyzing data to support data-driven
      decision-making. My work spans backend development, frontend development,
      data analysis, and data mining, all geared toward delivering impactful
      solutions that enhance business processes.
    </p>
    <p>
      With a degree in Administrative Engineering from the
      <strong>National University of Colombia</strong> and certifications from
      <strong>Macquarie University</strong>, the
      <strong>University of Michigan</strong>, and <strong>Platzi</strong>, I am
      well-equipped with both business and technical skills. My primary expertise
      includes:
    </p>
    <ul>
      <li>
        <strong>Backend Development</strong>: Designing scalable server
        applications.
      </li>
      <li>
        <strong>Frontend Development</strong>: Building responsive user
        interfaces.
      </li>
      <li>
        <strong>Data Analysis</strong>: Uncovering insights that guide strategic
        choices.
      </li>
      <li>
        <strong>Data Mining</strong>: Revealing trends within large datasets.
      </li>
    </ul>
    <p>
      I am committed to excellence and continuous learning, with a
      detail-oriented, holistic approach that allows me to solve complex
      challenges and provide forward-looking solutions.
    </p>
  </div>
</div>