<!-- app/templates/projects/spotify/index.html -->

{% extends "base.html" %}

{% block head %}
<!-- Include additional styles specific to this page -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/projects/spotify/styles.css') }}"
/>
{% endblock %}

{% block titulo %}Spotify Playlist Analyzer{% endblock %}

{% block contenido %}
<div class="content-wrapper wrapper">
  <div class="container">
    <h1>Your Music Is Unique and Special!</h1>
    <p>Discover how popular your playlist is with our popularity average. Log in to Spotify now!</p>
    <a href="/playlists/login">
      <button class="btn btn-primary">
        Log in with Spotify
      </button>
    </a>
  </div>
</div>
{% endblock %}