<!-- app/templates/projects/spotify/playlist.html -->

{% extends "base.html" %}

{% block titulo %}Your Playlist Analysis Results{% endblock %}

{% block head %}
<!-- Include additional styles specific to this page -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/projects/spotify/styles.css') }}"
/>
{% endblock %}

{% block contenido %}
<div class="content-wrapper wrapper">
  <div id="header">
    <h1>Spotify Playlist Analyzer</h1>
    <a href="{{ url_for('main.playlists_logout') }}" id="logout">Logout</a>
  </div>

  <!-- Hidden element to store encoded data -->
  <div
    id="playlist-data"
    data-playlist="{{ avg_per_playlist_base64 }}"
    style="display: none;"
  ></div>

  <div id="playlist"></div>
  <p>
    * The scores are calculated based on the popularity score that Spotify assigns to each song, considering the number of listeners they have.
  </p>

  <!-- This is only to verify that the data is being passed -->
  <p>avg_per_playlist_base64: {{ avg_per_playlist_base64 }}</p>
</div>
{% endblock %}

{% block scripts %}
<!-- Include the external script -->
<script src="{{ url_for('static', filename='js/playlist.js') }}"></script>
{% endblock %}