/* app/static/css/job-description.css */

/* Contenedor de la descripción profesional */
.professional-description {
    background-color: var(--content-bg-color);
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.5s, color 0.5s;
    font-weight: 200;
    line-height: 1.6;
    color: var(--main-text-color);
}

/* Estilos para títulos, párrafos y listas dentro de la descripción profesional */
.professional-description h2,
.professional-description h3,
.professional-description h4,
.professional-description p,
.professional-description ul li {
    margin-bottom: 1em;
}

/* Estilos específicos para los títulos */
.professional-description h2 {
    font-size: 2rem; /* Aproximadamente 32px */
    margin-bottom: 0.5em;
}

.professional-description h3 {
    font-size: 1.75rem; /* Aproximadamente 28px */
    margin-bottom: 0.5em;
}

.professional-description h4 {
    font-size: 1.5rem; /* Aproximadamente 24px */
    margin-bottom: 0.5em;
}

/* Estilos para párrafos */
.professional-description p {
    font-size: 1.25rem; /* 16px */
}

/* Estilos para elementos de lista */
.professional-description ul {
    padding-left: 1.5em;
}

.professional-description ul li {
    font-size: 1.25rem; /* 16px */
    list-style-type: disc;
    margin-bottom: 0.5em;
}

/* Responsividad para dispositivos con ancho máximo de 768px */
@media (max-width: 768px) {
    .professional-description {
        padding: 15px;
    }

    /* Ajustar tamaños de fuente para pantallas pequeñas */
    .professional-description h2 {
        font-size: 1.75rem; /* 28px */
    }

    .professional-description h3 {
        font-size: 1.5rem; /* 24px */
    }

    .professional-description h4 {
        font-size: 1.25rem; /* 20px */
    }

    .professional-description p,
    .professional-description ul li {
        font-size: 0.95rem; /* Aproximadamente 15px */
    }
}

/* Responsividad adicional para pantallas muy pequeñas */
@media (max-width: 480px) {
    .professional-description {
        padding: 10px;
    }

    /* Ajustar tamaños de fuente para pantallas muy pequeñas */
    .professional-description h2 {
        font-size: 1.5rem; /* 24px */
    }

    .professional-description h3 {
        font-size: 1.25rem; /* 20px */
    }

    .professional-description h4 {
        font-size: 1.1rem; /* 17.6px */
    }

    .professional-description p,
    .professional-description ul li {
        font-size: 1rem; /* 14.4px */
    }
}