/* app/static/css/rotating-image.css */


.rotating-container {
    width: 150px;
    height: 150px;
    perspective: 1000px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    
}

.rotating-card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    transform-origin: center; 
}

.front-image{
    object-fit: cover;
    border-radius: 50%;
}

.rotating-card .front-image,
.rotating-card .back-image {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    left: 0;
    top: 0;
}



.rotating-card .dark-mode,
.rotating-card .light-mode {
    display: none;
}


body.inverted .rotating-card .dark-mode {
    display: block;
}


body:not(.inverted) .rotating-card .light-mode {
    display: block;
}

@media (max-width: 768px) {
    .rotating-container {
        width: 100px;
        height: 100px;
    }
}