<!-- app/templates/recommendations.html -->
{% extends "main/base.html" %}

{% block titulo %}Recomendaciones de Canciones - Sonic Surprise{% endblock %}

{% block contenido %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/recommendations.css') }}">

<div class="content-wrapper-recomendation section wrapper">
    <div class="container section">
        <div id="header" class="mb-4">
            <a href="https://josedavidgt.com/" id="inicio" class="inicio">
                <h1>Sonic Surprise</h1>
            </a>
            <div>
                <p>
                    Según la canción que seleccionaste, esta es una lista de las canciones
                    que muy probablemente te encantarán.
                </p>
            </div>
        </div>
        <div class="mainDiv"></div>
        
        <!-- Botón para regresar a /openai -->
        <div class="mt-4 text-center">
            <a href="/openai" class="btn btn-secondary">
                Regresar a OpenAI
            </a>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var json_str = '{{ songs | tojson | safe }}';
        var json_obj = JSON.parse(json_str);
        var mainDiv = document.querySelector('.mainDiv');
        var list = document.createElement('ul');
        list.classList.add('list-group');

        for (var i = 0; i < json_obj.length; i++) {
            var li = document.createElement('li');
            li.classList.add('list-group-item');

            var a = document.createElement('a');
            a.setAttribute('href', json_obj[i].url);
            a.classList.add('songName');

            var img = document.createElement('img');
            img.setAttribute('src', json_obj[i].image);
            img.setAttribute('alt', json_obj[i].name + " - " + json_obj[i].artist);
            img.classList.add('song-image');

            var name = document.createElement('p');
            name.textContent = json_obj[i].name + " - " + json_obj[i].artist;

            a.appendChild(img);
            a.appendChild(name);
            li.appendChild(a);
            list.appendChild(li);
        }
        mainDiv.appendChild(list);
    });
</script>
{% endblock %}