<!-- app/templates/contact.html -->

<div class="content-wrapper-contact half-wrapper">
    <div class="contact-container section">
        <h2>Contact</h2>
        <p>Feel free to contact me for any question. For open source projects, please open an issue or pull request on <a href="https://github.com/DeiviGT1" target="_blank">GitHub</a>. If you want to follow my work, reach me on <a href="https://twitter.com/DavidGT1163" target="_blank">Twitter</a>. Otherwise, send me an email at <a href="mailto:josedago1163@gmail.com">josedago1163@gmail.com</a>.</p>
        <div class="buttons">
            <a href="https://github.com/DeiviGT1" target="_blank">Github</a>
            <a href="https://www.linkedin.com/in/davidgt1/" target="_blank">Linkedln</a>
            <a href="https://twitter.com/DavidGT1163" target="_blank">Twitter</a>
            <a href="mailto:josedago1163@gmail.com">Mail</a>
        </div>
    </div>
</div>