<!-- app/templates/index.html -->
{% extends "base.html" %}

{% block titulo %}Inicio - Mi Portafolio{% endblock %}

{% block contenido %}
<div class="jumbotron">
    <div class="introduction container">
        <h1 class="display-4">Hello! I am Jose</h1>
        <div class="subtitle">
            <img class="invertible-image avatar-image" 
                src="{{ url_for('static', filename='images/LOGOS/LOGO-ISOTIPO-BLACK@4x.webp') }}" 
                data-default-src="{{ url_for('static', filename='images/LOGOS/LOGO-ISOTIPO-BLACK@4x.webp') }}" 
                data-inverted-src="{{ url_for('static', filename='images/LOGOS/LOGO-ISOTIPO@4x.webp') }}" 
                alt="Avatar">
                <p class="lead">I engage in data mining, analyze data, create websites, and a bit more.</p>
   </div>
        </div>
    </div>

    <div class="">  
    
        <!-- Descripción Profesional -->
        <div id="about" class="professional-description">
            {% include 'job-description.html' %}
        </div>
    
        <!-- Proyectos Personales -->
        <div id="projects" class="projects-section">
            {% include 'projects.html' %}
        </div>
    
        <!-- Contacto -->
        <div id="contact" class="contact-section">
            {% include 'contact.html' %}
        </div>
    
        <hr class="my-4">
    </div>

    <hr class="my-4 ">
</div>
{% endblock %}