<!-- app/templates/modal.html -->

<!-- Modal para Dispositivos Móviles -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}" />

<!-- Modal para Dispositivos Móviles -->
<div id="mobileModal" class="modal" role="dialog" aria-modal="true" aria-labelledby="mobileModalLabel">
  <div class="modal-content" tabindex="-1">
      <span class="close-button" aria-label="Cerrar">&times;</span>
      <h2 id="mobileModalLabel">Welcome to my Portafolio!</h2>
      <p>Thanks for visiting! Remember that this website is optimized for Desktops to have a better performance.</p>
  </div>
</div>