<!-- app/templates/projects.html -->

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/projects.css') }}"
/>

<div class="content-wrapper-projects wrapper">
    <div class="personal-projects container section">
        <h2 class="my-4">Personal Projects</h2>
        <ul class="project-list list-unstyled">
            <!-- Project 1 -->
            <a href="/openai" 
            class="project-link" 
            data-project="1"
            data-title="SONIC SURPRISE"
            data-description="It is a project that uses OpenAI's GPT-4o to generate a recommendations of songs based on a song that the user sends."
            data-image="{{ url_for('static', filename='images/projects/sonic_surprise.png') }}">
                <li class="project-item">
                    <p>SONIC SURPRISE</p>
                </li>
            </a>
            
            <!-- Project 2 -->
            <a href="/playlists" 
            class="project-link" 
            data-project="2"
            data-title="PLAYLISTS QUALIFIER"
            data-description="It is a project that uses the API of spotify and get a proper qualification for each user playlist based on spotify data."
            data-image="{{ url_for('static', filename='images/projects/playlists_qualifier.png') }}">
                <li class="project-item">
                    <p>PLAYLISTS QUALIFIER</p>
                </li>
            </a>
            
            <!-- Project 3 -->
            <a href="#" 
            class="project-link" 
            data-project="3"
            data-title="ANALYTICS STOCKS"
            data-description="This is a tool that allows you to analyze the data of the stock best companies per country and each country rates of the last year."
            data-image="{{ url_for('static', filename='images/projects/power_bi_analytics.png') }}">
                <li class="project-item">
                    <p>ANALYTICS STOCKS</p>
                </li>
            </a>

            <!-- Project 4 -->
            <a href="https://www.elgatotuerto.com" 
            class="project-link" 
            data-project="3"
            data-title="GATO TUERTO WEBSITE"
            data-description="A liquor store website that allows you to buy the best liquors in the market."
            data-image="{{ url_for('static', filename='images/projects/gato_tuerto.png') }}"
            target="_blank">
             <li class="project-item">
                 <p>GATO TUERTO WEBSITE</p>
             </li>
         </a>
        </ul>
        
        <!-- Preview Container (Initially Hidden) -->
        <div id="project-preview" class="project-preview">
            <img src="" alt="Project Preview" class="project-preview-image img-fluid">
            <div class="project-preview-description">
                <h5 id="preview-title">Project Title</h5>
                <p id="preview-description">Project description goes here.</p>
            </div>
        </div>
    </div>
</div>